* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #cfd9f8, #dfe7ff);
}

.calculator {
    height: 650px;
    width: 400px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.screen {
    background-color: #5a70b3;
    height: 170px;
    flex: 2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.top-row,
.bottom-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
}

.top-row {
    flex: 1;
    font-size: 26px;
}

.bottom-row {
    flex: 1.5;
    font-size: 46px;
}

.delete-and-clear {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    flex: 1;
}

#clear,
#delete {
    border-radius: 20px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: #dfe7ff;
    color: #8080ff;
}

#clear:hover,
#delete:hover {
    background-color: #8080ff;
    color: #fff;
    transform: scale(0.95);
}

#clear:active,
#delete:active {
    transform: scale(0.92);
}

.keypad {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 4;
    gap: 10px;
}

.row {
    display: flex;
    gap: 10px;
    flex: 1;
}

.key {
    background-color: #8080ff;
    color: #fff;
    font-size: 36px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.key:hover {
    transform: scale(0.95);
    background-color: #dfe7ff;
    color: #8080ff;
}

.key:active {
    transform: scale(0.92);
}